body {
    font-family: Arial, sans-serif;
}

.box {
    background-color: green;
    color: white;
    padding: 15px;
}

h3 {
    margin-bottom: 5px;
    text-transform: uppercase;
}

p {
    margin-top: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    /* meaningful for readability */
}
